# ^^Basic feature extraction 
1.Number of words

2.Number of characters

3.Average word length

4.Number of stopwords

5.Number of special characters

6.Number of numerics

7.Number of uppercase words

IMPORTING LIBRARIES

In [1]:

import re
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import string
import nltk.corpus
from  nltk.corpus import stopwords
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)
%matplotlib inline
import split
import wordcount

In [2]:
train = pd.read_csv('AggressionDetection/train_E6oV3lV.csv')

/home/nahidashafi/Sentimentanalysis/venv/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

NUMBER OF WORDS

In [3]:
train['word_count'] = train['tweet'].apply(lambda x: len(str(x).split(" ")))
train[['tweet','word_count']].head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>tweet</th>
      <th>word_count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>@user when a father is dysfunctional and is s...</td>
      <td>21</td>
    </tr>
    <tr>
      <th>1</th>
      <td>@user @user thanks for #lyft credit i can't us...</td>
      <td>22</td>
    </tr>
    <tr>
      <th>2</th>
      <td>bihday your majesty</td>
      <td>5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>#model   i love u take with u all the time in ...</td>
      <td>17</td>
    </tr>
    <tr>
      <th>4</th>
      <td>factsguide: society now    #motivation</td>
      <td>8</td>
    </tr>
  </tbody>
</table>
</div>

NUMBER OF CHARACTERS

In [4]:
train['char_count'] = train['tweet'].str.len() ## this also includes spaces
train[['tweet','char_count']].head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>tweet</th>
      <th>char_count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>@user when a father is dysfunctional and is s...</td>
      <td>102</td>
    </tr>
    <tr>
      <th>1</th>
      <td>@user @user thanks for #lyft credit i can't us...</td>
      <td>122</td>
    </tr>
    <tr>
      <th>2</th>
      <td>bihday your majesty</td>
      <td>21</td>
    </tr>
    <tr>
      <th>3</th>
      <td>#model   i love u take with u all the time in ...</td>
      <td>86</td>
    </tr>
    <tr>
      <th>4</th>
      <td>factsguide: society now    #motivation</td>
      <td>39</td>
    </tr>
  </tbody>
</table>
</div>

 AVERAGE WORD LENGTH

In [5]:
def avg_word(sentence):
 words = sentence.split()
 return (sum(len(word) for word in words)/len(words))
train['avg_word'] = train['tweet'].apply(lambda x: avg_word(x))
train[['tweet','avg_word']].head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>tweet</th>
      <th>avg_word</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>@user when a father is dysfunctional and is s...</td>
      <td>4.555556</td>
    </tr>
    <tr>
      <th>1</th>
      <td>@user @user thanks for #lyft credit i can't us...</td>
      <td>5.315789</td>
    </tr>
    <tr>
      <th>2</th>
      <td>bihday your majesty</td>
      <td>5.666667</td>
    </tr>
    <tr>
      <th>3</th>
      <td>#model   i love u take with u all the time in ...</td>
      <td>4.928571</td>
    </tr>
    <tr>
      <th>4</th>
      <td>factsguide: society now    #motivation</td>
      <td>8.000000</td>
    </tr>
  </tbody>
</table>
</div>

NUMBER OF STOPWORDS

In [6]:
from nltk.corpus import stopwords 
stop = nltk.corpus.stopwords.words('english')
train['stopwords'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x in stop]))
train[['tweet','stopwords']].head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>tweet</th>
      <th>stopwords</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>@user when a father is dysfunctional and is s...</td>
      <td>10</td>
    </tr>
    <tr>
      <th>1</th>
      <td>@user @user thanks for #lyft credit i can't us...</td>
      <td>5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>bihday your majesty</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>#model   i love u take with u all the time in ...</td>
      <td>5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>factsguide: society now    #motivation</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

 NUMBER OF SPECIAL CHARACTERS

In [7]:
train['hastags'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x.startswith
('#')]))
train[['tweet','hastags']].head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>tweet</th>
      <th>hastags</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>@user when a father is dysfunctional and is s...</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>@user @user thanks for #lyft credit i can't us...</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <td>bihday your majesty</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>#model   i love u take with u all the time in ...</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>factsguide: society now    #motivation</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

NUMBER OF NUMERICS

In [8]:
train['numerics'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x.isdigit
()]))
train[['tweet','numerics']].head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>tweet</th>
      <th>numerics</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>@user when a father is dysfunctional and is s...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>@user @user thanks for #lyft credit i can't us...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>bihday your majesty</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>#model   i love u take with u all the time in ...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>factsguide: society now    #motivation</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

Number of Uppercase words

In [9]:
train['upper'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
train[['tweet','upper']].head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>tweet</th>
      <th>upper</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>@user when a father is dysfunctional and is s...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>@user @user thanks for #lyft credit i can't us...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>bihday your majesty</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>#model   i love u take with u all the time in ...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>factsguide: society now    #motivation</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

# ^^ Basic Text processing steps:

1Lower casingPunctuation removal

2.Stopwords removal

3.Frequent words removal

4.Rare words removal

5.Spelling correction

6.Tokenization

7.Stemming

8.Lemmatization

 LOWER CASES

In [10]:
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x.lower() for x in x.split()))
train['tweet'].head()

0    @user when a father is dysfunctional and is so...
1    @user @user thanks for #lyft credit i can't us...
2                                  bihday your majesty
3    #model i love u take with u all the time in ur...
4                  factsguide: society now #motivation
Name: tweet, dtype: object

REMOVING PUNCTUATIONS

In [11]:
train['tweet'] = train['tweet'].str.replace('[^\w\s]','')
train['tweet'].head()

0    user when a father is dysfunctional and is so ...
1    user user thanks for lyft credit i cant use ca...
2                                  bihday your majesty
3    model i love u take with u all the time in urð...
4                    factsguide society now motivation
Name: tweet, dtype: object

REMOVAL OF STOPWORDS

In [12]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
train['tweet'].head()

0    user father dysfunctional selfish drags kids d...
1    user user thanks lyft credit cant use cause do...
2                                       bihday majesty
3                model love u take u time urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

COMMON WORD REMOVAL

In [13]:
freq = pd.Series(' '.join(train['tweet']).split()).value_counts()[:10] 
freq

user     17123
love      2564
ð         2437
day       2163
â         1731
happy     1639
amp       1505
im        1112
u         1110
time      1088
dtype: int64

In [15]:
freq = list(freq.index)
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train['tweet'].head()

0    user father dysfunctional selfish drags kids d...
1    user user thanks lyft credit cant use cause do...
2                                       bihday majesty
3                model love u take u time urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

RARE WORDS REMOVAL

In [17]:
freq = pd.Series(' '.join(train['tweet']).split()).value_counts()[-10:]
freq

playlists           1
alll                1
covergirl           1
maes                1
jour                1
barstreetâ          1
chiwhere            1
5p                  1
littleblackdress    1
cleanâ              1
dtype: int64

In [18]:
freq = list(freq.index)
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train['tweet'].head()

0    user father dysfunctional selfish drags kids d...
1    user user thanks lyft credit cant use cause do...
2                                       bihday majesty
3                model love u take u time urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

SLANG WORD REMOVAL

In [19]:
from textblob import TextBlob
train['tweet'][:5].apply(lambda x: str(TextBlob(x).correct()))

0    user father dysfunctional selfish drags kiss d...
1    user user thanks left credit can use cause don...
2                                       midday majesty
3                 model love u take u time or ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

TOKENIZATION

In [20]:
from textblob import Word
train['tweet'] = train['tweet'].apply(lambda x: " ".join([Word(word).lemmatize() for word in
x.split()]))
train['tweet'].head()

0    user father dysfunctional selfish drag kid dys...
1    user user thanks lyft credit cant use cause do...
2                                       bihday majesty
3                model love u take u time urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

Stemming

In [21]:
from nltk.stem import PorterStemmer
st = PorterStemmer()
train['tweet'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0    user father dysfunct selfish drag kid dysfunct...
1    user user thank lyft credit cant use caus dont...
2                                       bihday majesti
3                model love u take u time urð ðððð ððð
4                              factsguid societi motiv
Name: tweet, dtype: object

Lemmatization

In [22]:
from textblob import Word
train['tweet'] = train['tweet'].apply(lambda x: " ".join([Word(word).lemmatize() for word in
x.split()]))
train['tweet'].head()

0    user father dysfunctional selfish drag kid dys...
1    user user thanks lyft credit cant use cause do...
2                                       bihday majesty
3                model love u take u time urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

# Advance Text Processing
N-grams

Term Frequency

Inverse Document Frequency

Term Frequency-Inverse Document Frequency (TF-IDF)

Bag of Words

Sentiment Analysis

Word Embedding

N- GRAMS

In [25]:
TextBlob(train['tweet'][0]).ngrams(2)

[WordList(['user', 'father']),
 WordList(['father', 'dysfunctional']),
 WordList(['dysfunctional', 'selfish']),
 WordList(['selfish', 'drag']),
 WordList(['drag', 'kid']),
 WordList(['kid', 'dysfunction']),
 WordList(['dysfunction', 'run'])]

In [26]:
TextBlob(train['tweet'][0]).ngrams(4)
tf1 = (train['tweet'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>words</th>
      <th>tf</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>user</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>credit</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>cause</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>pdx</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>dont</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>van</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>wheelchair</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>disapointed</td>
      <td>1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>cant</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>getthanked</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>thanks</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11</th>
      <td>lyft</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12</th>
      <td>offer</td>
      <td>1</td>
    </tr>
    <tr>
      <th>13</th>
      <td>use</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

TERM FREQUENCY (TF)

TF = (Number of times term T appears in the particular row) / (number of terms in that row)

In [27]:
for i,word in enumerate(tf1['words']):
 tf1.loc[i, 'idf'] = np.log(train.shape[0]/(len(train[train['tweet'].str.contains(word)])))
tf1

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>words</th>
      <th>tf</th>
      <th>idf</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>user</td>
      <td>2</td>
      <td>1.064201</td>
    </tr>
    <tr>
      <th>1</th>
      <td>credit</td>
      <td>1</td>
      <td>7.327781</td>
    </tr>
    <tr>
      <th>2</th>
      <td>cause</td>
      <td>1</td>
      <td>5.718343</td>
    </tr>
    <tr>
      <th>3</th>
      <td>pdx</td>
      <td>1</td>
      <td>8.762865</td>
    </tr>
    <tr>
      <th>4</th>
      <td>dont</td>
      <td>1</td>
      <td>3.767005</td>
    </tr>
    <tr>
      <th>5</th>
      <td>van</td>
      <td>1</td>
      <td>5.284707</td>
    </tr>
    <tr>
      <th>6</th>
      <td>wheelchair</td>
      <td>1</td>
      <td>9.273691</td>
    </tr>
    <tr>
      <th>7</th>
      <td>disapointed</td>
      <td>1</td>
      <td>10.372303</td>
    </tr>
    <tr>
      <th>8</th>
      <td>cant</td>
      <td>1</td>
      <td>3.559958</td>
    </tr>
    <tr>
      <th>9</th>
      <td>getthanked</td>
      <td>1</td>
      <td>9.679156</td>
    </tr>
    <tr>
      <th>10</th>
      <td>thanks</td>
      <td>1</td>
      <td>4.616561</td>
    </tr>
    <tr>
      <th>11</th>
      <td>lyft</td>
      <td>1</td>
      <td>8.762865</td>
    </tr>
    <tr>
      <th>12</th>
      <td>offer</td>
      <td>1</td>
      <td>6.543662</td>
    </tr>
    <tr>
      <th>13</th>
      <td>use</td>
      <td>1</td>
      <td>1.017343</td>
    </tr>
  </tbody>
</table>
</div>

INVERSE DOCUMENT FREQUENCY

In [28]:
tf1['tfidf'] = tf1['tf'] * tf1['idf']
tf1

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>words</th>
      <th>tf</th>
      <th>idf</th>
      <th>tfidf</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>user</td>
      <td>2</td>
      <td>1.064201</td>
      <td>2.128402</td>
    </tr>
    <tr>
      <th>1</th>
      <td>credit</td>
      <td>1</td>
      <td>7.327781</td>
      <td>7.327781</td>
    </tr>
    <tr>
      <th>2</th>
      <td>cause</td>
      <td>1</td>
      <td>5.718343</td>
      <td>5.718343</td>
    </tr>
    <tr>
      <th>3</th>
      <td>pdx</td>
      <td>1</td>
      <td>8.762865</td>
      <td>8.762865</td>
    </tr>
    <tr>
      <th>4</th>
      <td>dont</td>
      <td>1</td>
      <td>3.767005</td>
      <td>3.767005</td>
    </tr>
    <tr>
      <th>5</th>
      <td>van</td>
      <td>1</td>
      <td>5.284707</td>
      <td>5.284707</td>
    </tr>
    <tr>
      <th>6</th>
      <td>wheelchair</td>
      <td>1</td>
      <td>9.273691</td>
      <td>9.273691</td>
    </tr>
    <tr>
      <th>7</th>
      <td>disapointed</td>
      <td>1</td>
      <td>10.372303</td>
      <td>10.372303</td>
    </tr>
    <tr>
      <th>8</th>
      <td>cant</td>
      <td>1</td>
      <td>3.559958</td>
      <td>3.559958</td>
    </tr>
    <tr>
      <th>9</th>
      <td>getthanked</td>
      <td>1</td>
      <td>9.679156</td>
      <td>9.679156</td>
    </tr>
    <tr>
      <th>10</th>
      <td>thanks</td>
      <td>1</td>
      <td>4.616561</td>
      <td>4.616561</td>
    </tr>
    <tr>
      <th>11</th>
      <td>lyft</td>
      <td>1</td>
      <td>8.762865</td>
      <td>8.762865</td>
    </tr>
    <tr>
      <th>12</th>
      <td>offer</td>
      <td>1</td>
      <td>6.543662</td>
      <td>6.543662</td>
    </tr>
    <tr>
      <th>13</th>
      <td>use</td>
      <td>1</td>
      <td>1.017343</td>
      <td>1.017343</td>
    </tr>
  </tbody>
</table>
</div>

Term Frequency – Inverse Document Frequency (TF-IDF)
TF-IDF is the multiplication of the TF and IDF which we calculated above.

In [29]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word',
stop_words= 'english',ngram_range=(1,1))
train_vect = tfidf.fit_transform(train['tweet'])
train_vect

<31962x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 131819 stored elements in Compressed Sparse Row format>

BAG OF WORDS

In [30]:
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer(max_features=1000, lowercase=True, ngram_range=(1,1),analyzer = "word")
train_bow = bow.fit_transform(train['tweet'])
train_bow

<31962x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 145823 stored elements in Compressed Sparse Row format>

SENTIMENT ANALYSIS

In [31]:
train['tweet'][:5].apply(lambda x: TextBlob(x).sentiment)

0    (-0.3, 0.5354166666666667)
1                    (0.2, 0.2)
2                    (0.0, 0.0)
3                    (0.5, 0.6)
4                    (0.0, 0.0)
Name: tweet, dtype: object

In [ ]:
train['sentiment'] = train['tweet'].apply(lambda x: TextBlob(x).sentiment[0] )
train[['tweet','sentiment']].head()

 Word Embeddings

The first step here is to convert it into the word2vec format.

In [32]:
from gensim.scripts.glove2word2vec import glove2word2vec
glove_input_file = 'AggressionDetection/glove/glove.6B.100d.txt'
word2vec_output_file = 'AggressionDetection/glove/glove.6B.100d.txt.word2vec'
glove2word2vec(glove_input_file, word2vec_output_file)

(400000, 100)

 LOADING the above word2vec file as a model.

In [33]:
from gensim.models import KeyedVectors # load the Stanford GloVe model
filename = 'AggressionDetection/glove/glove.6B.100d.txt.word2vec'
model = KeyedVectors.load_word2vec_format(filename, binary= False)

TESTING

In [36]:
model['hate']

array([ 0.17659  ,  0.50064  ,  0.0088315, -1.0508   , -0.16269  ,
        1.2352   , -0.59918  , -0.63878  ,  0.53806  ,  0.27061  ,
       -0.34867  ,  0.080632 , -0.47525  ,  0.0038664,  0.44793  ,
        0.16638  , -0.16975  ,  0.26788  , -0.8065   ,  0.87468  ,
        0.55568  ,  0.14944  , -0.1657   , -0.55191  ,  0.065539 ,
        0.11676  ,  0.44888  , -0.30606  ,  0.34267  , -0.29187  ,
        0.41492  ,  0.79645  ,  0.34349  ,  0.22112  , -0.17078  ,
       -0.18531  ,  0.11219  , -0.36115  ,  0.59638  ,  0.30354  ,
       -0.71878  , -0.024002 , -0.36848  , -0.48278  , -0.54718  ,
       -0.48508  ,  0.45822  , -0.21857  , -0.219    , -1.3933   ,
        0.65796  ,  0.45913  , -0.58279  ,  0.48452  , -0.29622  ,
       -0.85992  ,  1.063    ,  0.54207  ,  1.0812   , -0.28798  ,
       -0.18865  ,  0.58522  , -0.29666  , -1.3604   ,  0.5092   ,
        0.80366  ,  1.1011   ,  0.38638  ,  0.22916  ,  0.069255 ,
        0.25114  , -0.73256  , -0.17292  ,  0.12404  , -0.62077  ,
        0.56992  ,  0.27403  , -0.11443  , -0.4188   ,  0.13818  ,
        0.09343  , -0.12543  , -0.26382  ,  0.5857   , -1.1839   ,
       -0.2467   , -0.74509  , -0.26249  , -0.060023 ,  0.1304   ,
       -0.60247  , -0.49028  , -0.22185  ,  0.09243  ,  0.37385  ,
       -0.66878  , -0.33497  ,  0.17022  ,  0.35     ,  0.073571 ],
      dtype=float32)

In [38]:
model['sad']

array([-0.19532  ,  0.20232  ,  0.61203  , -0.28992  , -0.86588  ,
        0.7558   , -0.64644  ,  0.81501  ,  0.84841  , -0.44887  ,
        0.11233  , -0.15414  ,  0.0037169, -0.33247  , -0.2841   ,
        0.41221  ,  0.029481 , -0.37827  ,  0.4824   ,  1.2798   ,
        0.68064  ,  0.72289  , -0.48955  ,  0.2333   ,  0.099052 ,
        0.20363  ,  0.089845 ,  0.64516  ,  0.74412  ,  0.28051  ,
       -0.15278  , -0.20226  ,  0.43044  , -0.69753  , -0.82179  ,
       -0.37686  ,  0.24957  ,  0.65398  ,  0.61427  , -0.78519  ,
        0.24869  ,  0.18725  ,  0.42488  , -0.7323   , -0.21912  ,
        0.24199  ,  1.1491   ,  0.72102  ,  0.0076716, -0.70094  ,
        0.43828  , -0.71392  ,  0.54495  ,  0.43827  , -0.38535  ,
       -1.3452   ,  0.50617  ,  0.64701  ,  0.46118  ,  0.09306  ,
        0.14875  ,  1.0391   , -1.1242   , -1.0595   ,  0.6136   ,
       -0.55698  ,  0.84552  ,  0.34413  , -0.67045  , -0.33305  ,
        0.34069  , -0.40519  ,  0.1561   , -0.1154   ,  0.76092  ,
        0.58474  ,  0.46913  ,  0.11088  ,  0.018671 , -0.18142  ,
       -0.34331  ,  0.32092  ,  0.094817 ,  0.26299  , -1.7466   ,
       -0.080278 , -0.70726  , -0.38399  , -0.24015  , -0.16845  ,
        0.74608  ,  0.4715   , -0.51143  ,  0.57181  , -0.44642  ,
        0.33972  , -0.224    , -0.14648  , -0.76086  ,  0.59095  ],
      dtype=float32)